.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: column;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(252,70,107,1) 100%);
  margin: 0;
  color: white;
}

.logo{
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  width: 60px;
}

.card {
  position: relative;
  width: 60vw;
  height: 60vh;
  background: #9c084d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(170, 9, 9, 0.5);
  border: 1px solid rgb(165, 14, 120);
}

