.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.foto{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.desabilitado{
  display: none;
}

body {
  background-color: #ffdddd; /* Fundo vermelho claro */
  margin: 0;
}

.container {
  width: 60%; /* Ocupa 60% da tela */
}

.card {
  background-color: #ffdddd; /* Vermelho claro */
  padding: 20px;
  text-align: center;
}
